<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>换肤功能Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A108B371E0A5C1300644E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A108B501E0A5C1300644E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A108B5B1E0A5C1300644E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
